@model IPagedList<RiderModel>

@{
    ViewBag.Title = "Riders";
}

<h2>Riders</h2>


<form method="get" action="@Url.Action("Index")"
      data-rmdb-ajax="true" data-rmdb-target="#riderList">

    <input type="search" name="searchTerm" data-rmdb-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
</form>


<br />


@Html.Partial("_Riders", Model)


