@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>RaceMate @ViewBag.message</h1>
    <p class="lead">RaceMate is a free resource exclusively for cyclists in the UK looking for information on past or future events...</p>
</header>



<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            Analyse past and future events, find out how they were won and what past riders have to say about them...
        </p>
        <p><a class="btn btn-default" href="~/Event">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p> Take a look at your next course, see what others have to say and if there is anything to look out for...</p>
        <p><a class="btn btn-default" href="~/Course">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Riders</h2>
        <p>See how active other riders are and how they are currently performing...</p>
        <p><a class="btn btn-default" href="~/Rider">Learn more &raquo;</a></p>
    </div>
</div>